##############################################################################
#
# CONFIGURATION SETTINGS
#
# Adjust these as needed.
#

# Format labels to this label type.
# To see available label types, run:  labelnation --list-types
#
LABEL_TYPE="Avery-5160"

# Path to the LabelNation utility. (Should not need change.)
#
LABELNATION="labelnation-*/labelnation"

# More LabelNation options, if needed.
# Some possibly useful options:
#   --show-bounding-box  (draw box around labels, for testing on plain paper)
#   --left-margin NNN --bottom-margin MMM  (adjust margins to fix labels offsets)
#LABELNATION_OPTIONS="--show-bounding-box --left-margin 15 --bottom-margin 40"

# Command to run your Python interpreter.
#
PYTHON="python3"

